$main-color: #fff;
$secondary-color: #000;
$orange: #fea100;
$light-gray: #EDF1F3;
$dark-gray: #7D8587;
$flag-color: #FE4C8D;

$main-font: "Poppins", sans-serif;
$secondary-font: "Passenger Display";
